*{
    margin:0;

    padding: 0;
box-sizing: border-box;

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url(bg.jpg) ;
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align:center ;
}
.contact .content h2{
font-size: 36px;
font-weight: 500;
color: #fff;


}
    .contact .content p{
        padding-top: 35px;
        padding-bottom: 20px;
     font-weight: 300;
     color: #fff;
    }
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.container .contactinfo .box .text{
  margin-left: 20px;
   font-size: 16px;
    display: flex;
    color:#000;
    /* flex-direction: column; */
    font-weight: 300;
}
.container .contactinfo .box .text h3{
   
      color:#00bcd4;
      font-weight: 500;
  }
.contactform{
    width:40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color:#333;
    font-weight: 500;

}
.contactform .inputbox{
    position: relative;
    width:100px;
    margin-top: 10px;
}
.contactform .inputbox input,

.contactform .inputbox input textarea{
    width:100%;
    margin: 10px 0;
    padding:5px 0;
    font-size: 16px;
    border:none;
    border: 2px solid #333;
    outline: none;
    resize: none;
}
.name{
    border: 2px solid #333;
font-family: 'Times New Roman', Times, serif;
}
.contactform .inputbox input[type="submit"]{
    width:100px;
    background: #00bcd4;
    color:#fff;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size:18px;

}
@media{
    .contact{
        padding: 50px;
    }
.container .contactinfo{
    margin-bottom:40px;

}
.container .contactinfo,.contactform{
width: 100%;    
}



}











































