
*{
box-sizing: border-box;
margin:0;
padding: 0;

}

body{
    background-image: url(backgroundhome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.navbar {
    overflow: hidden;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    color: #000;
}


.header {
    justify-content: right;
    margin-right: 0px;
    flex: 11 1 auto;
    list-style: none;
    color:white;
    background-color: #000;
}

.header li a{
    color:white;
    transition: all 0.3s ease 0s;
}
.header li a:hover{
color:rgb(160, 160, 124)
}
.describe{
    padding-left: 40px;
}
.name{
    padding-top: 200px;
padding-left:80 ;
}
.name:hover{
    color: rgb(12, 70, 231);}
.name,.describe{
    transition: all 0.3s ease 0s;

}
.describe:hover{
color: rgb(12, 70, 231);}
/* /.circles{ */
/* padding-left:300px ;} */
.navbar a {
    float: right;
    color:black;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
}
a {
    color:black;
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
}
.about {
   padding-left: 120px;
    color:black;
}
.myimg {
    float: right;
    padding-right: 50px;
    padding-bottom: 170px;
}
.btn{
    padding-left: 200px;
    padding-top: 40px;

}

.hirebtn {
    color: azure;
    display: inline-block;
    background-color: rgb(29, 29, 235);
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    border-width: initial;
    border-style: none;
    border:none;
    border-image: initial;
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.hirebtn:hover{
    background-color: rgba(6, 49, 85, 0.096) ;
    color: #000;
}
.links{
    width: 10px;
    height: 10px;
    float:left;
}
